- form_tag (:controller => :account, :action => :login) do
  %h4 Already registered?
  %p
    %label User name
    %br/
    = text_field_tag "login", nil, { :class => "icon-user pIcon16" }
  %p
    %label Password
    %br/
    = password_field_tag "password",nil, { :class => "icon-password pIcon16" }
  %p
    %label{ :for => "remember_me" } Rembember-me:
    = check_box_tag :remember_me
  %p
    = submit_tag "Log in", :class => "button"